# Virtual environment
venv/

# Python bytecode
__pycache__/
*.py[cod]
*.pyc

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment variables
.env

# OS files
.DS_Store

# VSCode settings 
.vscode/

# Parquet files
*.parquet

# CSV files
*.csv

# JSON files
*.json

# HTML files
*.html

# Key files
*.key

# IDE files
.idea/

# Log files
*.log